extends main-layout

block content
    .content
        h1 talk your shit, #{user.username}
        form.post-form(action="/" method="POST") 
            h3 submit a new message
            input(type="text" name="title" id="title" placeholder="add a title") 
            textarea(name="content" id="content" placeholder="what's on your mind?")

            button(type="submit") submit 

        .message-container 
            each message in messages 
                .message-item 
                    .message-meta
                        h3.message-title #{message.title}
                        p.message-date #{new Date(message.date_modified).toDateString()}
                    p.message-content #{message.content}
                    .message-footer
                        p.posted-by posted by: #{message.author}
                        if user.isAdmin
                            form(action=`/${message._id}?_method=DELETE` method="POST").message-delete-btn
                                input(type="hidden" name="_method" value="DELETE")
                                button(type="submit")
                                    img(src="./images/delete_icon.svg", alt="delete icon")

            